.main-back {
  position: absolute;
  width: 100%;
  height: 100%;

}
.main-background {
  width: 100%;
  height: calc(883px + 56px);
  background-image: url(../../../public/img/Main/background.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.main-topside {
  top: 0px;
  position: sticky;
  z-index: 9999;
  height: 50px;
  width: 100%;
  background-color: #91F6BA;

}

.main-icon {
  position: relative;
  left: 25px;
  top : 9px;
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 100%;
}

.main-title {
  position: relative;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: -0.02em;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  color: #000;
  text-align: center;
  white-space: nowrap;
}

.main-card-title{
  position: relative;
  width: 300px;
  height: 30px;
  font-weight: bold;
  font-size: 24px;
  left: 4px;
  text-align: left;
  font-family: 'Inter', sans-serif;
}
.main-card-main{
  position: relative;
  width: 300px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: left;
  font-family: 'Inter', sans-serif;
}

.main-travel-title{
  position: absolute;
  width: 300px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  left: 15px;
  top: 20px;
  text-align: left;
  font-family: 'Inter', sans-serif;
  z-index: 10;
}

.main-travel-main{
  position: absolute;
  width: 300px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  left: 15px;
  top: 80px;
  text-align: left;
  font-family: 'Inter', sans-serif;
  z-index: 10;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}